.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: teal;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .hamburgerMenu {
    cursor: pointer;
    display: none; /* Initially hide the hamburger menu */
    z-index: 11;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .openLinks {
    display: flex !important;
    flex-basis: 100%;
    flex-direction: column;
    height: 100vh; /* Set height to full viewport height */
    position: fixed;
    top: 0;
    left: 0;
    background-color: teal;
    padding-top: 80px; /* Adjust as needed to avoid overlapping with the header */
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  
  /* Media Queries for Responsive Design */
  @media only screen and (max-width: 768px) {
    .container {
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .hamburgerMenu {
      display: flex; /* Display the hamburger menu on smaller screens */
      flex-direction: column;
    }
  
    .openMenu {
      max-height: 200px; /* Adjust as needed */
    }
  
    .links {
      display: none;
      flex-basis: 100%;
    }
  }
  