.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: teal;
    color: white;
  }
  
  .links {
    display: flex;
    gap: 20px;
  }
  
  .hamburgerMenu {
    cursor: pointer;
    display: none; /* Initially hide the hamburger menu */
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
  }
  
  .openLinks {
    display: flex !important;
    flex-basis: 100%;
    flex-direction: column;
  }
  
  /* Media Queries for Responsive Design */
  @media only screen and (max-width: 768px) {
    .container {
        align-items: center;
        justify-content: space-between;
    }
    .hamburgerMenu {
      display: flex; /* Display the hamburger menu on smaller screens */
      flex-direction: column;
    }
  
    .openMenu {
      max-height: 200px; /* Adjust as needed */
    }
  
    .links {
      display: none;
      flex-basis: 100%;
    }
  }
  