/* contactsociallinks.module.css */
.container {
    width: 100%;
    height: auto; /* Adjusted to auto height */
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
    width: 80%;
    margin: 0 auto;
    gap: 20px;
  }
  
  .container .linksContainer .socialIcons {
    border-left: 1px solid rgb(213, 211, 211);
    border-right: 1px solid rgb(213, 211, 211);
    width: 100%; /* Full width on small screens */
    max-width: 150px; /* Limit width on larger screens */
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px; /* Added margin-bottom for spacing */
  }
  
  .container .linksContainer .socialIcons:hover {
    background-color: rgb(254, 172, 19);
  }
  
  /* Media Queries for Responsive Design */
  @media only screen and (min-width: 768px) {
    .container .linksContainer {
      display: flex;
      flex-direction: row;
    }
    .container .linksContainer .socialIcons {
      /* width: 48%; Two icons per row on medium screens */
      max-width: none; /* Remove max-width on medium screens */
    }
  }
  
  @media only screen and (min-width: 992px) {
    .container .linksContainer {
      display: flex;
      flex-direction: row;
    }
    .container .linksContainer .socialIcons {
      width: 30%; /* Three icons per row on large screens */
    }
  }
  