.mainContainer {
    width: 100%;
}
.container {
    height: 86vh;
    width: 100%;
    position: relative;
    padding-top: 210px;
}

.container::before {
    content: "";
    background-image: url("../../../public/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.h1 {
    position: relative;
    margin-left: 80px;
    font-size: 5rem;
    font-weight: bolder;
}

/* .ourprojects {
    height: 100vh;
} */