.container {
    width: 100%;
    font-size: 16px;
    color: black;
    min-height: 100vh;
}

.container .content {
    width: 90%;
    margin: 0 auto;
}

.container .content .projects {
    display: flex;
    flex-direction: column; /* Change to column for smaller viewports */
    align-items: stretch;
}

.container .content .projects .project {
    width: 100%; /* Take full width on smaller viewports */
    margin-bottom: 20px;
}

.container .content .projects .project .ourwork {
    height: 10%; 
  
}

.container .content .projects .project .ourwork h1 {
    font-size: 4rem; /* Adjusted font size for smaller viewports */
}

.container .content .projects .project .ourwork .hr {
    width: 10%;
    margin-bottom: 10px;
}

.container .content .projects .project .carouselContainer {
    height: auto; /* Adjust height for smaller viewports */
    background-color: bisque;
}

.container .content .projects .project .rightDiv {
    width: 100%;
    height: auto; /* Adjust height for smaller viewports */
    margin-bottom: 10px;
    background-color: blueviolet;
}

/* Media Query for smaller viewports */
@media screen and (min-width: 768px) {
    .container .content .projects {
        flex-direction: row; /* Change back to row for larger viewports */
    }

    .container .content .projects .project {
        width: 49%;
    }

    .container .content .projects .project .ourwork {
        height: 10%;
    }

    .container .content .projects .project .carouselContainer {
        height: 80%;
    }

    .container .content .projects .project .rightDiv {
        height: 33.3%;
    }
}
